/**
 * File: main.less
 * 
 * Description: Components style css
 */

@import "@/assets/less/base.less";

.btn {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: var(--primary-color-400);
  border: 1px solid var(--primary-color-400);
  border-radius: 0.5rem;
  height: 2.625rem;
  padding: 0 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: none;
}